/* 
    Created on : 10-mar-2020, 8:24:58
    Author     : Alberto López Martín
*/
root {
    display: block;
}
body {
    font-family: Arial, sans-serif;
    background-color: #abcdef;
}
h1 {
    text-align: center;
    color: gold;
    text-shadow: #242424 2px 2px 2px;
}
h2 {
    text-align: center;
    padding-top: 32px;
    font-size: 18px;
}
form {
    width: 400px;
    margin: auto;
    padding: 60px;
    box-shadow: #242424 4px 4px 4px;
    text-align: center;
}
